Charge optimiser.json
{\rtf1\ansi\ansicpg1252\cocoartf2822
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\
    \{\
        "id": "tab-charge-opt",\
        "type": "tab",\
        "label": "Charge Optimiser",\
        "disabled": false,\
        "info": "Stage 1: fetch Elering EE prices every hour, publish to MQTT topic prices/ee/today."\
    \},\
    \{\
        "id": "comment-stage1",\
        "type": "comment",\
        "z": "tab-charge-opt",\
        "name": "STAGE 1 \'97 price pipe",\
        "info": "Inject (hourly + on startup) -> build URL -> GET Elering -> parse -> publish to MQTT + debug sidebar.",\
        "x": 180,\
        "y": 50,\
        "wires": []\
    \},\
    \{\
        "id": "inj-hourly",\
        "type": "inject",\
        "z": "tab-charge-opt",\
        "name": "Every hour and on start",\
        "props": [\
            \{\
                "p": "payload"\
            \}\
        ],\
        "repeat": "3600",\
        "crontab": "",\
        "once": true,\
        "onceDelay": "2",\
        "topic": "",\
        "payload": "",\
        "payloadType": "date",\
        "x": 170,\
        "y": 120,\
        "wires": [\
            [\
                "fn-build-url"\
            ]\
        ]\
    \},\
    \{\
        "id": "fn-build-url",\
        "type": "function",\
        "z": "tab-charge-opt",\
        "name": "Build Elering URL",\
        "func": "const now = new Date();\\nnow.setMinutes(0, 0, 0);\\nconst end = new Date(now.getTime() + 24 * 60 * 60 * 1000);\\nconst fmt = d => d.toISOString().replace(/\\\\.\\\\d\{3\}/, '.000');\\nmsg.url = `https://dashboard.elering.ee/api/nps/price?start=$\{fmt(now)\}&end=$\{fmt(end)\}`;\\nmsg.method = 'GET';\\nreturn msg;",\
        "outputs": 1,\
        "timeout": "",\
        "noerr": 0,\
        "initialize": "",\
        "finalize": "",\
        "libs": [],\
        "x": 390,\
        "y": 120,\
        "wires": [\
            [\
                "http-elering"\
            ]\
        ]\
    \},\
    \{\
        "id": "http-elering",\
        "type": "http request",\
        "z": "tab-charge-opt",\
        "name": "GET Elering",\
        "method": "use",\
        "ret": "obj",\
        "paytoqs": "ignore",\
        "url": "",\
        "tls": "",\
        "persist": false,\
        "proxy": "",\
        "insecureHTTPParser": false,\
        "authType": "",\
        "senderr": false,\
        "headers": [],\
        "x": 600,\
        "y": 120,\
        "wires": [\
            [\
                "fn-parse"\
            ]\
        ]\
    \},\
    \{\
        "id": "fn-parse",\
        "type": "function",\
        "z": "tab-charge-opt",\
        "name": "Analyse prices",\
        "func": "const rows = msg.payload && msg.payload.data && msg.payload.data.ee;\\nif (!Array.isArray(rows)) \{\\n    node.error('Unexpected Elering payload', msg);\\n    node.status(\{ fill: 'red', shape: 'ring', text: 'parse error' \});\\n    return null;\\n\}\\nconst prices = rows.map(r => (\{\\n    ts: r.timestamp,\\n    hour_iso: new Date(r.timestamp * 1000).toISOString(),\\n    eur_mwh: r.price,\\n    c_kwh: r.price / 10\\n\}));\\nflow.set('prices', prices);\\nmsg.payload = prices;\\nconst stamp = new Date().toLocaleTimeString('et-EE');\\nnode.status(\{ fill: 'green', shape: 'dot', text: `$\{prices.length\} hours @ $\{stamp\}` \});\\nreturn msg;",\
        "outputs": 1,\
        "timeout": "",\
        "noerr": 0,\
        "initialize": "",\
        "finalize": "",\
        "libs": [],\
        "x": 820,\
        "y": 120,\
        "wires": [\
            [\
                "mqtt-pub-prices",\
                "debug-out"\
            ]\
        ]\
    \},\
    \{\
        "id": "mqtt-pub-prices",\
        "type": "mqtt out",\
        "z": "tab-charge-opt",\
        "name": "Publish prices",\
        "topic": "prices/ee/today",\
        "qos": "1",\
        "retain": "true",\
        "respTopic": "",\
        "contentType": "",\
        "userProps": "",\
        "correl": "",\
        "expiry": "",\
        "broker": "mqtt-broker-local",\
        "x": 1030,\
        "y": 120,\
        "wires": []\
    \},\
    \{\
        "id": "debug-out",\
        "type": "debug",\
        "z": "tab-charge-opt",\
        "name": "Price debug",\
        "active": true,\
        "tosidebar": true,\
        "console": false,\
        "tostatus": false,\
        "complete": "payload",\
        "targetType": "msg",\
        "statusVal": "",\
        "statusType": "auto",\
        "x": 1030,\
        "y": 180,\
        "wires": []\
    \},\
    \{\
        "id": "mqtt-broker-local",\
        "type": "mqtt-broker",\
        "name": "Local Mosquitto",\
        "broker": "127.0.0.1",\
        "port": "1883",\
        "clientid": "node-red-charger",\
        "autoConnect": true,\
        "usetls": false,\
        "protocolVersion": "4",\
        "keepalive": "60",\
        "cleansession": true,\
        "birthTopic": "",\
        "birthQos": "0",\
        "birthPayload": "",\
        "birthMsg": \{\},\
        "closeTopic": "",\
        "closeQos": "0",\
        "closePayload": "",\
        "closeMsg": \{\},\
        "willTopic": "",\
        "willQos": "0",\
        "willPayload": "",\
        "willMsg": \{\},\
        "userProps": "",\
        "sessionExpiry": ""\
    \}\
]}